body{
    background-color: #E3F2FD !important;
}
.contact-section {
    margin-top: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
}

.dark-mode .contact-section {
    background-color: #1e1e1e !important;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.contact-section h1, .contact-section p {
    transition: color 0.3s ease-in-out;
}

.contact-section h1:hover, .contact-section p:hover {
    color: #007bff;
}

.form-control {
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
