/* Default Light Mode Styles */
body {
    background-color: #ECF0F1 !important;
}

/* Button Group Styling */
.btn-group .btn {
    transition: all 0.3s ease-in-out;
}

.btn-group .btn:hover {
    background-color: #0056b3;
}

/* Card Styling */
.card {
    background-color: #e4f49d;
    margin-bottom: 20px;
}

.project-img {
    height: 180px;
    object-fit: cover;
}

/* Fade-in Animation */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}